@model List<Empleado>

@{
    ViewData["Title"] = "DepartamentoEmpleados";
}

<h1>Departamento Empleados</h1>

@if(Model == null)
{
    <h2 style="color:red">No hay campos</h2>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    ID Empleado
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    Oficio
                </th>
                <th>
                    Salario
                </th>
                <th>
                    ID Departamento
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.IdEmpleado
                    </td>
                    <td>
                        @item.Apellido
                    </td>
                    <td>
                        @item.Oficio
                    </td>
                    <td>
                        @item.Salario
                    </td>
                    <td>
                        @item.IdDepartamento
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

